{{ define "head" }}
{{ $options := dict "transpiler" "dartsass" "targetPath" "css/list.css" }}
{{ with resources.Get "sass/layouts/list.scss" | toCSS $options | postCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">

  {{ $pages := where .Data.Pages "Type" "posts" }}
  <div class="post-group">
    <ul>
    {{ range $pages }}
    <li>
      <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <time>{{ .PublishDate | time.Format ":date_medium" }}</time>
    </li>
    {{ end }}
    </ul>
  </div>
</main>
{{ end }}